
<div class="topnav" id="myTopnav">
    <a class="nav-link" href="{{url_for('get_meals')}}">CookBook <i class="fas fa-pizza-slice"></i></a>
    <a class="nav-link" href="{{url_for('get_meals')}}"><i class="fas fa-home"></i>Home</a>
    <a class="nav-link" href="{{url_for('all_view')}}"><i class="fas fa-book"></i>Browse All Recipes</a>
    <a class="nav-link" href="{{url_for('store')}}"><i class="fas fa-shopping-cart">Store</i></a>
   
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
