
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top ">
        <a class="navbar-brand" href="{{url_for('get_meals')}}">CookBook <i class="fas fa-pizza-slice"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('get_meals')}}">Home
              <span class="sr-only">(current)</span>
            </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('all_view')}}">Browse All Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('store')}}">Store</a>
                </li>
            </ul>
        </div>
    </nav>
